[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
"psycopg2" = "*"
"boto3" = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.6"
